[2018-11-05 09:29] sstaub opened #1 "Support for megaAVR 0-Series, Arduino Uno WiFi Rev2"
Can you add support for the new megaAVR 0-series boards, like Arduino Wifi Rev. 2,
ATmega4809-XPRO (ATMEGA4809-XPRO) and ATmega4809 Curiosity Nano Evaluation kit.
The last costs under 10€ inclusive mEDBG https://www.microchip.com/DevelopmentTools/ProductDetails/DM320115
The Arduino core is released at https://github.com/arduino/ArduinoCore-megaavr
I think there is a new platform necessary.

[2019-10-16 11:05] ivankravets commented on #1
@valeros  added initial support for megAVR. Could you help with testing?

[code]

See supported boards in https://github.com/platformio/platform-atmelmegaavr/tree/develop/boards

Thanks!

[2019-10-16 11:55] sstaub commented on #1
Hi can upload a simple blinky with serial output, but nothing happens, no blink no output to console.

[2019-10-16 11:59] valeros commented on #1
@sstaub But it works with Arduino IDE, right? What board do you have?

[2019-10-16 12:02] sstaub commented on #1
I have different boards:
Arduino UNO Wifi2 (Uno2018?)
Arduino Nano Every
Microchip 4809 Curiosity Nano.
UNO Wifi2 works on Arduino IDE (1.8.10) but not on PIO

[2019-10-16 12:08] valeros commented on #1
`Arduino Nano Every` doesn't work as well? Did you select any special settings in Arduino IDE?

[2019-10-16 12:10] sstaub commented on #1
What is the right board config for UNO WIFI 2 and Nano Every, maybe uno2018 is only a variant?

[2019-10-16 12:14] valeros commented on #1
I used the same names as in Arduino IDE:
`uno2018` - Arduino Uno WiFi Rev2
`nona4809` - Arduino Nano Every
PS: `nona4809` name looks like a typo (probably it should be `nano4809`), but let's be consistent with Arduino IDE for now.

[2019-10-16 12:15] sstaub commented on #1
Same on nona aka Nano Every, can upload but there is no code execution.

[2019-10-16 12:22] valeros commented on #1
What project are you trying to compile? Did you select any special settings in Arduino IDE?

[2019-10-16 12:27] sstaub commented on #1
How to do arduino-external-libs ?
There are no special setting in the Arduino IDE
Upload to UNO Wifi2 works with mEDGB and AVRISP mkII

`#include "Arduino.h"
#define LED LED_BUILTIN

// the setup function runs once when you press reset or power the board
void setup() {
	// initialize digital pin PB1 as an output.
	pinMode(LED, OUTPUT);
	Serial.begin(9600);
}

// the loop function runs over and ove

[2019-10-16 12:30] sstaub commented on #1
Eher usefull information about the boards and variants on https://github.com/MCUdude/MegaCoreX

[2019-10-16 12:31] valeros commented on #1
At the moment let's concentrate on the official core.

Why do you need an external programmer? Could you please upload your project in Arduino IDE and attach here the entire log (compilation and upload). Thanks!

[2019-10-16 12:36] sstaub commented on #1
I don't use an external programmer, the UNO has a mEDGB on board, so with a future firmware it should possible to debug.
Also there is need an option if Register Emulation is used or not.

[2019-10-16 12:36] sstaub commented on #1
Der Sketch verwendet 2990 Bytes (6%) des Programmspeicherplatzes. Das Maximum sind 48640 Bytes.
Globale Variablen verwenden 175 Bytes (2%) des dynamischen Speichers, 5969 Bytes für lokale Variablen verbleiben. Das Maximum sind 6144 Bytes.
/Users/sstaub/Library/Arduino15/packages/arduino/tools/avrdude/6.3.0-arduino17/bin/avrdude -C/Users/sstaub/Library/Arduino15/packages/arduino/tools/avrdude/6.3.0

[2019-10-16 12:41] valeros commented on #1
Do you use this "Register Emulation"?

[2019-10-16 12:43] sstaub commented on #1
Personally No, but on Arduino IDE I think it is standard.
<img width="868" alt="Arduino Register Emulation" src="https://user-images.githubusercontent.com/6450325/66920300-4b569d80-f023-11e9-8919-d6ce32aeb051.png">

[2019-10-16 12:47] valeros commented on #1
OK, strange but I thought the emulation is default choice.  Try to add the following line to your `platformio.ini`
[code]

[2019-10-16 12:49] sstaub commented on #1
No changes, upload ok but no execution.

[2019-10-16 13:06] valeros commented on #1
Could you please try a special version of the platform:
[code]

[2019-10-16 13:15] sstaub commented on #1
Great, it works.

[2019-10-16 13:17] sstaub commented on #1
also with Nano Every

[2019-11-18 16:57] ivankravets commented on #1
Finally! https://github.com/platformio/platform-atmelmegaavr/releases/tag/v1.0.0

[2019-11-18 16:57] #1 closed

[2019-11-19 21:46] sstaub opened #2 "Support for MegaCoreX"
A support of the MegaCoreX will helpful because there are other boards with MegaAvr0 chips,
(Curiosity Nano, ATmega4809 Xplained Pro ...) which are not supported by Arduino directly.
https://github.com/MCUdude/MegaCoreX
Thank you for support of the original Arduino boards.

[2020-05-30 18:41] jonolt opened #3 "please update megaavr core from 1.8.5 to 1.8.6"
the new core version has some important bufixes, also in the API.I know at least two libraries (DMXSerial, Automation) that should work with the new version without manual bugfixes (I couldn't get DMXSerial to work at all, because of some nasty definition collisions (but it compiles with Arduino IDE and v1.8.6)).

[2020-06-01 09:32] #3 closed

[2020-06-03 12:32] wurmtal868 opened #4 "Serial Monitor does not reconnect after FW upload to Arduino Leonardo or other 32U4 board"
Issue Type: <b>Bug</b>

Upload some code with serial output to the Leonardo board. Connect the Serial Monitor. Make some changes to the code and upload.
Serial Monitor won't find the port of the Leonardo and reconnect.

Extension version: 1.10.0
VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:40.719Z)
OS version: Linux x64 4.15.0-65-generic

<details>
<summ

[2020-06-06 21:42] tombull commented on #2
I would love to see this!

[2020-06-30 15:22] MCUdude commented on #2
@valeros what do you need me to do in order make this happen? the current MegaCoreX release is ready to be used with PlatformIO. I can provide the necessary manifest files if you want.

However, there are a few things that need to be addressed.

* The official Arduino core for "megaavr" devices uses avr-gcc 7.3.0 with a set of patches. The reason for this was apparently because they had trouble ge

[2020-09-29 11:05] chrisinabox opened #6 "Unable to upload to Nano_Every"
I have been having persistent issues uploading to the Nano_Every from PIO with the atmelmegaavr platform (sample verbose at bottom).

It seems to be that the upload hangs as it forces a board reset and then waits for the upload port which I don't think is needed (I am no expert here). I have not had these issues with the Arduino IDE which is using the same version of avrdude (at this moment in tim

[2020-09-29 11:08] chrisinabox commented on #6
My mistake - only `"wait_for_upload_port": false`. The other line causes it to fail for somewhat obvious reasons.

[2020-10-14 16:27] Gurkengewuerz commented on #2
@MCUdude @ivankravets Is there any update? I really want to use platformio for a atmega4808 but because of no support i am trying other ide's that talk with arduino directly...

[2020-10-14 16:35] ivankravets commented on #2
Sorry for the delay, we have just prioritized this issue and will add support soon.

/cc @valeros

[2020-10-14 16:46] Gurkengewuerz commented on #2
Thanks! Would be so great to see support soon. :)

[2020-10-14 19:02] MCUdude commented on #2
I'm ready to continue working on the MegaCoreX implementation whenever @ivankravets or @valeros is!

[2020-10-15 15:01] Gurkengewuerz commented on #2
@MCUdude would be cool if you three could come to an arrangement.

Question aside: Is there actually an official roadmap?

[2020-10-15 21:49] #6 closed

[2020-10-15 22:01] valeros commented on #2
Hi guys, sorry for the delay, let's try to sort this out. According to @MCUdude hints above I prepared:
- `GCC 7.3.0` with the patches from `Atmel ATmega Series Device Support (1.5.362)`
- Patched `avrdude` with new programmers and targets in `avrdude.conf`
- Package with the latest `MegaCoreX` v1.0.5

CI successfully built the examples, so we just need to agree on supported upload methods and fla

[2020-10-15 22:30] MCUdude commented on #2
Awesome! I'm busy this weekend, but I'll get back to you on Monday. I do have a plan 😊

[2020-10-15 22:54] Gurkengewuerz commented on #2
Will it be possible to change the oscillator to external, set the bod, etc.? 👁️

[2020-10-16 06:08] MCUdude commented on #2
The first step would be to get it up and running. The next step would be to create two scripts. One to calculate the fuses, and one to load the correct bootloader. So @Gurkengewuerz, that is the plan. Similar functionality as with Minicore and MightyCore.

[2020-10-18 17:28] MCUdude commented on #2
@valeros the upload flags used at the moment can be found in the MegaCoreX platform.txt file. When it comes to the upload method, it's possible to upload using a dedicated programmer, or through a bootloader - Optiboot. This means the entire upload procedure will be very similar to what's already done with Mini/Mega/Major/MightyCore.

We should also discuss a fuses/bootloader script as well. As a

[2020-10-21 19:21] valeros commented on #2
Hi @MCUdude  I've pushed an initial implementation of fuses and bootloader programming for Arduino boards. Unfortunately I don't have any atmega4809-based board at hand, so it would be great if you could test new changes. But there is one thing that bothering me, in the current implementation. In Arduino core they program application, bootloader and set fuses in a single `avrdude` command. Can we

[2020-10-21 20:47] MCUdude commented on #2
@valeros I'll test!

Flashing, bootloadering and fuses can safely be split into three separate tasks. The only thing you have to be aware of is that the bootloader is located at the beginning of the flash memory, and not the end like on classic AVRs. This means that programs compiled to run on chips that are using a bootloader need a 512 byte (0x200) offset (configured the BOOTEND fuse). When no b

[2020-10-21 21:42] valeros commented on #2
I've updated the bootloader script, please pull the latest changes.

Thanks! Just in case, does the order of tasks matter?

Users can control this using `build.text_section_start = 0x200` option.

[2020-10-21 21:47] MCUdude commented on #2
Well, the bootloader is optional, but the user program will only run correctly if the right fuses are set, just like on regular AVRs.

OK. This should be handled automatically though. It's very easy to detect. Add the 0x200 offset if `board_hardware.uart != no_bootloader`.

[2020-10-22 08:19] valeros commented on #2
There are also two other boards with the official Arduino core, but I will check what I can do.

[2020-10-22 08:25] MCUdude commented on #2
The bootloader was developed after the Arduino Uno Wifi Rev2 and Arduino Nano Every was released. These two boards have an on-board UPDI programmer. The Uno Wifi Rev2 uses the 0x200 offset (no idea why, there are no bootloader, so the BOOTEND fuse should be 0x00), and the Nano every has 0x0000 offset

[2020-10-22 09:46] Gurkengewuerz commented on #2
If you guys need some hardware to test i have an Arduino Nano Every and in the next days ATmega4808/808 will be ordered from mouser. 👀

[2020-10-22 09:56] sstaub commented on #2
I can test with Arduino Nano Every, Uno WIFI 2 and Nano Curiosity board.

[2020-10-22 09:57] valeros commented on #2
@Gurkengewuerz It'd be great if someone could install the [upstream verion](https://docs.platformio.org/en/latest/platforms/atmelmegaavr.html#stable-and-upstream-versions) of the platform and try to program the `Arduino Nano Every` and `Uno WIFI 2` boards with a simple blink example.

[2020-10-22 10:04] sstaub commented on #2
How to differ between the official Arduino core and the MegaCoreX in platformio.ini ?

[2020-10-22 10:18] MCUdude commented on #2
I have a development board I can use to test ATmega808/1608/3208/4808. With and without bootloader.

[2020-10-22 10:22] Gurkengewuerz commented on #2
Somehow an Arduino Nao Every works.

### platformio.ini

[code]

### Build Log

[code]

@valeros strangely the program get flashed correctly BUT the jtagmkII_getsync get no timeout. its just posting `avrdude: jtagmkII_getsync(): sign-on command: status -1` until i press `STRG+C`. After that i got

[code]

let me hear if it helps you. If you want me to test something else, just mention me.

[2020-10-22 10:26] MCUdude commented on #2
@Gurkengewuerz you're not building Nano Every with MegaCoreX, you're using the official core which lacks several hardware features that MegaCoreX offer.

I'm not sure it's implemented yet, but MegaCoreX have several pinouts to choose from:
`48pin-standard`, `40pin-standard` `nano-every` and `uno-wifi`.

Try using this configuration:

[code]

[2020-10-22 10:29] Gurkengewuerz commented on #2
@MCUdude oh good to know! So the following config should be fine?

[code]

PlatformIO also updated to toolchain-atmelavr @ 2.70300.201015 now

[2020-10-22 10:31] valeros commented on #2
`MegaCoreX` should also be set as the core:

[code]

[2020-10-22 10:32] Gurkengewuerz commented on #2
Using the config above the flash was successful!

### Build Log

[code]

[2020-10-22 10:32] MCUdude commented on #2
@Gurkengewuerz ah, yes, the platform field has to be the github URL.

@valeros I think there is something weird going on with the build process. When I build a blank sketch in Arduino IDE, it compiles down to 476 bytes. However, with PlatformIO it compiles to 4340 bytes.

[2020-10-22 10:36] Gurkengewuerz commented on #2
@MCUdude just a side note: Maybe you want to edit you larger comments in this issue with a spoiler tag. Scrolling on my phone is a pain in the ass 🤣

[code]

[2020-10-22 10:45] Gurkengewuerz commented on #2
@valeros @MCUdude oh true. can cornfirm that the compiled blink sketch in Arduino IDE is much smaller using the MegaCoreX. Could it be because of the `UARTX.cpp`, `wiring_*.cpp` etc. compiled with it in the PlatformIO implementation (see my build log)?

[2020-10-22 11:13] MCUdude commented on #2
I'm not sure what causes this. RAM usage is also way too high. I can confirm that this is also an issue when compiling for the "official" Nano Every and Uno Wifi Rev2.

[2020-10-22 11:14] sstaub commented on #2
Tried with UNO WIFI 2, can compile but upload fails:
I'm on macOS
[code]
following ini:
[code]

Code:
[code]

[2020-10-22 11:27] sstaub commented on #2
Arduino Nano Every works, but UNO WIFI 2 not. How to upload to Nano Curiosity board which uses nEDBG?

[2020-10-22 12:32] valeros commented on #2
Thanks, the footprint issue should be fixed in the dev branch. Please update to the latest revision.

@sstaub Does the uploading via `jtag2updi` work in Arduino IDE with `UNO WIFI 2` and the `MegaCoreX` core? Could you please attach here the entire log from Arduino IDE?

[2020-10-22 12:55] MCUdude commented on #2
The Nano every does use `jtag2updi`. The Uno Wifi Rev2 uses `xplainedmini_updi`, and curiosity nano uses `curiosity_updi`.

[2020-10-22 13:25] valeros commented on #2
@sstaub Probably you need to change the upload protocol when programming the `Uno WiFi` board even if a variant from MegaCoreX is used.

[2020-10-22 14:46] sstaub commented on #2
Changed the upload protocol but failed also: (macOS 10.15.7)
<img width="712" alt="Bildschirmfoto 2020-10-22 um 16 45 34" src="https://user-images.githubusercontent.com/6450325/96888602-18d94f00-1486-11eb-97d0-90549e587246.png">

[2020-10-22 14:52] sstaub commented on #2
Update:
same problem with Curiosity Nano

[2020-10-22 15:00] valeros commented on #2
`jtag2updi` is the default protocol and it requires upload port. If you want to use `xplainedmini_updi` you need to disable the `wait_for_upload_port` option.
[code]

[2020-10-22 15:05] sstaub commented on #2
OK, this works for the UNO WIFI 2. Only the Curiosity board is missing.

[2020-10-22 15:14] sstaub commented on #2
OK, this works also for Curiosity nano. Thank you very much, hope we can do the same for the DxCore.

[2020-10-22 21:07] sstaub commented on #2
I made three new board definitions:
- curiosity_nano_4809
- uno_wifi_x
- nano_every_x
this allows to use Arduino and Microchip boards without extra definitions for MegaCoreX
If ok, can you add it please? I attached the definitions within the boards.zip
All variants are tested.
[boards.zip](https://github.com/platformio/platform-atmelmegaavr/files/5425787/boards.zip)

[2020-10-23 05:45] MCUdude commented on #2
curiosity_nano_4809
uno_wifi_x
nano_every_x
this allows to use Arduino and Microchip boards without extra definitions for MegaCoreX
If ok, can you add it please? I attached the definitions within the boards.zip
All variants are tested.

The whole idea with the MegaCoreX implementation is that it's supposed to be generic. Nano Every and Uno Wifi Rev2 are just pinout variants that are supported. it

[2020-10-23 12:44] sstaub commented on #2
For a concrete board there are more things to handle than `board_upload.require_upload_port` in the .json board definition. e.g. for the curiosity board also the debugger capability should handled in future.

[2020-10-25 09:01] sstaub commented on #2
Added two other boards
- atmega4809_xplained
- avi-iot_wr

both can compile but no tests of real boards
I updated some URLs
[boards.zip](https://github.com/platformio/platform-atmelmegaavr/files/5434340/boards.zip)

[2020-10-30 10:29] valeros commented on #2
@MCUdude I updated the build script, so `jtag2udpi` is now configured dynamically. If you need more time for preparing your PR with dynamic fuses, we can simply publish a new release with basic functionality.

[2020-10-30 10:34] MCUdude commented on #2
Thanks! It will take me some time to get everything just the way I like it, so please release it as it is now, and prepare a new release when the dynamic fuses/bootloader functionality is in. But it would be great if you could just wait a little more before doing the release so I have time to test all chips and pinout variants for all targets. I should be done testing everything tonight

[2020-10-30 10:37] valeros commented on #2
@MCUdude No problem, thanks a lot for testing!

[2020-10-30 11:01] MCUdude opened #7 "Use pyupdi for UPDI uploads"
I'll just leave this here.

There is another way of uploading to UPDI-compatible AVR microcontrollers that don't include Avrdude and is open source. It's called `pyupdi`, and it is developed by Microchip themselves. The actual hardware is dead simple.
https://github.com/mraardvark/pyupdi

[code]

As the name implies, it's Python based, and PlatformIO is Python's best friend. Would it be possible t

[2020-10-30 11:22] valeros commented on #7
It seems that their device names a bit differ from ours, so your probably won't be able to use the `$BOARD_MCU` variable. Anyway, just install the pyudpi package via pip `pip install https://github.com/mraardvark/pyupdi/archive/master.zip` and it should work with this your slightly modified configuration:
[code]

[2020-10-30 11:49] MCUdude commented on #2
I've found one issue so far.

The device signature for ATmega3208 and ATmega3209 in avrdude.conf is incorrect.

Current:
[code]

is supposed to be:

[code]

[2020-10-30 12:02] MCUdude commented on #2
OK, I couldn't wait until tonight. I've now tested all targets (ATmega4809/3209/1609/809 and ATmega4808/3208/1608/808) and all pinouts, and the only issue I've found is the device signature typo.

[2020-10-30 12:08] MCUdude commented on #7
Cool, I'll give it a try a little later. So it wouldn't make sense to include it in the atmelmegaavr toolchain? It's easy to install pyupdi on a Mac/Linux computer, but on Windows, you'll probably have to install the whole python/pip package first, so the bar is a little higher.

Could pyupdi be installed automatically by PlatformIO if called?

[2020-10-30 12:19] valeros commented on #7
If someone uses PlatformIO they already have Python and pip installed, so you can type directly in the IDE terminal `python -m pip install https://github.com/mraardvark/pyupdi/archive/master.zip`

[2020-10-30 14:20] sstaub opened #8 "debug support for microchip development boards"
The official development boards from microchip like the Curiosity Nano 4809 have a build in debug adapter.
Hope you find a way to use it.

[2020-10-30 14:52] valeros commented on #2
@MCUdude Thanks, fixed package are in the registry.

[2020-10-30 15:27] MCUdude commented on #2
Perfect! ATmega3208/3209 works now 🙂

[2020-10-30 18:03] MCUdude commented on #2
FYI I did test a Curiosity nano ATmega4809 board with the on-board UPDI programmer. Works a treat!

I think this issue can be closed now.

[2020-10-30 18:51] #2 closed

[2020-10-30 23:20] MCUdude opened #9 "MegaCoreX dynamic fuses and bootloader"
Hi!
After you @valeros released the latest `atmelmegaavr` package I started working on the fuses/bootloader script, and it wasn't that much work really. As mentioned earlier, I am **NOT** a (professional) Python programmer. The scrips work, but they are probably terrible because I'm happy as long as they just do what I want.

First, here is the fuses script I've come up with:

<details>

[code]
</

[2020-10-31 15:28] bsodmike opened #10 "Unable to flash Arduino Uno WiFi Rev2"
What kind of issue is this?

- [X] **PlatformIO ATmelAVR**.
      If you’ve found a bug, please provide an information below.

### Configuration

**Operating system**:
Mac OS 10.14.6

**PlatformIO Version** (`platformio --version`):
PlatformIO, version 5.0.2

### Description of problem

Flashing the MCU with Platformio causes the built-in LED to simply keep flashing, and the flashed code has no ef

[2020-11-02 12:43] MCUdude commented on #9
@valeros any thoughts?

[2020-11-03 15:38] valeros commented on #10
Hi @bsodmike ! Thanks for reporting. Could you please try to upload using the upstream version of the platform? Just use the following configuration:
[code]

[2020-11-03 15:41] valeros commented on #9
Hi @MCUdude ! I've pushed your development with slight modification, including fixes for the issues your specified above. It'd be great if you could test new functionality using the platform for dev branch. Thanks!

[2020-11-03 17:59] MCUdude commented on #9
I'm not completely done testing, since there are some issues that are preventing me. First, I'm getting the incorrect device signature in Avrdude again. I've manually deleted the `tool-avrdude-megaavr` package. Here's the output:

[code]

I'm not sure what's causing this. I was able to sneak in the -F flag to continue my testing.

Setting fuses works fine. However, bootloading not so much:

[code]

[2020-11-03 19:52] MCUdude commented on #9
About the 0x200 offset. I think we should use the `upload_protocol` value as the indicator, not `board_hardware.uart`. There's no real reason to specify what exact UART port on your target that's used for serial uploads.

[code]

In this example, since `upload_protocol = arduino`, it means that we're using a bootloader, and thus 0x200 is needed. It's also a benefit since `upload_protocol ` has to

[2020-11-03 20:14] valeros commented on #9
Thanks for testing! I see you didn't specified `framework = arduino` in your configuration. That explains most of the issues. I suppose we should allow using your boards without any framework? In this case. where users should get bootloader binaries? Arduino packages are optional, if users don't run any example with Arduino framework, they won't be downloaded.

Thanks, now I see why you used `%.2X

[2020-11-03 20:57] MCUdude commented on #9
🤦 Of course! I'm being sloppy, sorry! This fixed the issues I faced.

There's one tiny formatting thing I'd like to have fixed:

[code]

You can probably guess what it is? Add a space in front of the `=` character to get everything aligned 👍

[2020-11-04 01:52] bsodmike commented on #10
Hi, thanks for your help!

With a working sketch on the board, I tried to upload another one to just blink the main LED with 500ms delay.  Instead, this seems to revert the LED to blink rapidly and simply not respond.  I wonder if it's wiping the bootloader or placing it some odd state.

In any case, behavior is still the same.

[code]

[2020-11-04 02:03] bsodmike commented on #10
@valeros I noticed something odd in the logs.  It's uploading my firmware, then setting the fuses, THEN erasing the chip and flashing the bootloader.  Shouldn't the bootloader get flashed first onto the chip?

[2020-11-04 02:59] bsodmike commented on #10
Here's some progress. I first set about uninstalling all installations of "atmelmegaavr" - locally I had two.  The stable release and the latest upstream in github.

My previous comment is valid in the sense, if you check my log below, the compiled firmware is now uploaded AFTER the bootloader is flashed to the chip.

However, behavior is different this time - the built-in LED is just "ON" and doe

[2020-11-04 07:34] MCUdude commented on #9
Another question @valeros. Is it possible to get access to a parameter defined in one environment in another environment?
Take this example:

[code]
This would be very convenient in the platformio.ini template I'm creating for MegaCoreX

[2020-11-04 10:17] valeros commented on #9
Thanks, the formatting should be fine now.

[2020-11-04 10:19] MCUdude commented on #9
Awesome!

Here are the README and platformio.ini template I've created for MegaCoreX users:

https://github.com/MCUdude/MegaCoreX/blob/master/PlatformIO.md

[2020-11-04 10:19] #9 closed

[2020-11-04 10:19] MCUdude commented on #9
Are we ready for a new atmelmegaavr release?

[2020-11-04 10:20] valeros commented on #10
@bsodmike Could  you please also paste here the upload log in verbose mode `pio run -t upload -v`?

[2020-11-04 11:07] valeros commented on #9
Is there any chance you could port that page to PlatformIO docs?  Something similar to the `atmelavr` docs you added earlier.

Once the issue #10 is resolved.

[2020-11-04 11:21] MCUdude commented on #9
Sure! I do have an Uno Wifi Rev2, so iI can help out with the testing this evening.

[2020-11-04 17:32] MCUdude commented on #10
@valeros I do have an Arduino Uno Wifi Rev2 I can test with.

Here is the output of `pio run -t upload -v`. The onboard LED is supposed to toggle every second, but instead it's flashing very fast. So far I have to shake the board in order for my eyes to see it.

[code]

[code]

[2020-11-04 18:12] MCUdude commented on #10
Just to narrow it down I compiled a blink sketch in Arduino IDE and uploaded it to the Uno Wifi Rev2. Everything worked as expected. Here is the upload command:

[code]

I compiled the same sketch in PlatformIO, and used the exact same upload command, but only replaced the hex file. However, this doesn't work!
[code]

I also tried to build with MegaCoreX and the `uno-wifi` pinout. This compiled bl

[2020-11-04 19:06] valeros commented on #10
Thanks for testing, it seems weak symbols from variant folder are getting overridden. Could you please pull the latest changes and try again?

[2020-11-04 19:17] MCUdude commented on #10
That did the trick for the Nano Every and Uno Wifi Rev2. But will this affect any of the MegaCoreX targets?

[2020-11-04 19:20] valeros commented on #10
You don't have source files in the `variant` folder, so it shouldn't have any impact on MegasCoreX.

[2020-11-04 19:33] MCUdude commented on #10
Awesome! I've tested on actual hardware, and I can confirm this is the case too 🙂

Thanks for doing this!

[2020-11-04 20:48] valeros commented on #10
Resolved in https://github.com/platformio/platform-atmelmegaavr/commit/cc8349d08bf9e5c6c7af9e8a47e399c5401da2db

[2020-11-04 20:48] #10 closed

[2020-11-05 06:26] bsodmike commented on #10
Thanks I will test this tonight!

[2020-11-05 06:38] MCUdude commented on #7
It would be great if you could document this in your docs as an option for a custom upload command. I will also document it in the MegaCoreX repo

[2020-11-05 12:57] valeros commented on #7
Thanks, added!

[2020-11-05 12:57] #7 closed

[2020-11-09 19:08] MCUdude commented on #9
@valeros are we ready for a new release? I don't think there will be any significant changes in this repo for a while since pretty much all MegaCoreX features are implemented, and the bugs regarding Uno Wifi Rev2/Nano Every (#10).

[2020-11-09 20:26] valeros commented on #9
Thanks, released.

[2020-11-12 11:51] sstaub opened #11 "support for AVR Dx series / DxCore"
I know this is the wrong place, but can you add support for the DxCore similar to the MegaCoreX?

[2020-11-24 23:55] gurghet commented on #6
I'm having a similar issue. Is there any workaround? Following is my verbose shell.
[code]
After a few minutes it will print
[code]

[2020-11-25 00:41] gurghet opened #15 "Can't upload to nano every"
I'm having a similar issue to https://github.com/platformio/platform-atmelmegaavr/issues/6.
Uploading from Arduino IDE works fine but PlatformIO hangs forever.
I tried using the develop branch, to no avail.
Following is my verbose shell.
[code]
After a few minutes it will print
[code]
After that it will print continuously
[code]

[2020-11-25 08:26] chrisinabox commented on #15
I'm no expert but based on the fix that @valeros applied in issue #6 it seems that the changes made (commit 9ceb183) were accidentally removed in commit 89d5e79 when the the uploader configuration was changed to more generically handle jtag2updi online 200 of builder/main.py

`# jtag2updi seems to be the only protocol that requires serial port
    if upload_protocol == "jtag2updi":
        upload_

[2020-11-25 13:04] gurghet commented on #15
Thanks, tonight I'll try and install https://github.com/platformio/platform-atmelmegaavr/commit/9ceb183865f622dc75fc5a1e32294a5e7ae358f1 and report if it works

[2020-11-25 22:11] gurghet commented on #15
Works perfectly! Thanks @chrisinabox

Workaround: downgrade to 9ceb183

[2020-11-25 22:28] chrisinabox commented on #15
No worries, glad to help!

Hopefully @valeros can take a look when they have some spare time. Clearly just a regression issue.

[2020-11-27 11:00] valeros commented on #15
Thanks for reporting.
@MCUdude Could you please clarify whether  there is any difference in the uploading process using the `jtag2updi` protocol for your targets from PR #5 and Nano Every? I see you used `wait_for_upload_port`, but it breaks uploading to the Nano board. Thanks!

[2020-11-27 12:00] MCUdude commented on #15
@valeros I'll give it a go this evening. When I tried this on my mac, `wait_for_upload_port` worked just fine. I'll try it on a Windows machine as well.

It may be that the serial port actually doesn't disappear when it gets the 1200bps touch but only switches functionality internally (unlike the Arduino Leonardo). A "generic/DIY" jtag2updi programmer does not use and will not be affected by a 120

[2020-11-27 20:03] MCUdude commented on #15
I just tested this on my mac and on my Windows PC, and uploading works fine on both with the latest release

[2020-11-29 11:43] MCUdude commented on #15
@valeros I can also mention that it didn't make a difference if I added or removed `wait_for_upload_port` to the nano_every.json manifest file or `board_upload.wait_for_upload_port`to the platformio.ini file. I still got "Waiting for the new upload port..." regardless; on both MacOS and Windows.

[2020-11-30 12:08] valeros commented on #15
@MCUdude Thanks for looking into it. Probably you need to disable `wait_for_upload_port` directly in the [main.py#L202](https://github.com/platformio/platform-atmelmegaavr/blob/develop/builder/main.py#L202) to properly test it. Thanks!

[2020-11-30 12:23] MCUdude commented on #15
@valeros ok, so basically replace

[code]

with

[code]

then. I'll give it a try later today!

[2020-11-30 12:37] prosperv opened #16 "Board request for TinyCore"
https://www.tindie.com/products/xkimi/tiny-core-32-dev-board-attiny3217/
https://www.tindie.com/products/xkimi/tiny-core-16-dev-board-attiny1616/

https://raw.githubusercontent.com/xukangmin/TinyCore/master/avr/package/package_tinycore_index.json

[2020-11-30 12:40] MCUdude commented on #16
There is no reason why these boards can't be used with megaTinyCore when support for this core is ready.

[2020-11-30 12:42] valeros commented on #16
Hi @prosperv ! Could you please briefly explain the benefits of using `TinyCore` when there is already `megaTinyCore ` that supports that MCUs?

[2020-11-30 12:51] MCUdude commented on #16
You can find the source for TinyCore [here](https://github.com/xukangmin/TinyCore). It's is pretty much identical to megaTinyCore (but has not been updated recently), and the only difference I've been able to find is the Arduino pin mappings in `pins_arduino.h`. but one can always use the PIN macros to refer to pins: `digitalWrite(PIN_PA7, HIGH);`.

IMO it's not a good idea to add cores to Platfor

[2020-11-30 17:29] MCUdude commented on #15
I can confirm that

[code]

Works on both Windows and Mac.

[2020-11-30 17:40] #15 closed

[2020-11-30 17:50] valeros commented on #15
@gurghet Should be fixed in the dev branch, could you please retest with the following configuration:
[code]

[2020-12-01 21:55] gurghet commented on #15
Works on my mac! 👍

[2020-12-15 19:22] MCUdude opened #17 "Add support for new UPDI programmers + extended UPDI protocol"
Someone [mentioned at the Avrfreaks forum](https://www.avrfreaks.net/forum/avr128da48-curiosity-nano-and-avrdude) that an Avrdude [patch from one of the Atmel/Microchip developers has been published](https://savannah.nongnu.org/patch/?10000).

It adds support for the PICKit4 and Microchip SNAP. But more importantly, it adds extended UPDI addressing support for devices with more than 64kB flash. Th

[2020-12-28 21:37] MCUdude commented on #17
@valeros any change for this patch to be added? The Arduino developers have already added the patch to their Avrdude repo.

Oh, by the way, what's really left before a new release of this repo can be created? We now have support for a bunch of new ATtinys, but there's no release for them.

[2020-12-31 04:36] davija commented on #11
@MCUdude @SpenceKonde
What all do we need to support this?
I just had some boards made and I'd much prefer to use Platform IO instead of Arduino IDE.

[2021-01-01 19:17] davija commented on #11
I'd like to help out with this, but I'm just not sure where to get started.  I was looking at getting the manifest files and stuff added, however it appears that a package needs to be created for the dxcore project and I'm not sure where to even get started.

[2021-01-01 19:25] MCUdude commented on #11
It was me and @valeros who added support for [MegaCoreX](https://github.com/MCUdude/MegaCoreX) and [megaTinyCore](https://github.com/SpenceKonde/megaTinyCore). Basically, what needs to be done is to create manifest files for each AVR-DA and AVR-DB part, and make sure all build parameters match the ones in the DxCore boards.txt file. Also, the fuses.py script needs to be updated.

I can do all this

[2021-01-24 21:56] MCUdude commented on #17
BTW is there any reason why the atmel-megaavr package has its own avrdude version? I've already asked this question in [platform-atmelavr#229](https://github.com/platformio/platform-atmelavr/issues/229), but it's also relevant here.

Here's why this is important:

[2021-01-27 15:06] valeros commented on #17
Hi @MCUdude, terribly sorry for the late reply.  Finally, I managed to reserve some time for this platform. I'll need a little time to look into the issues and PR you've submitted.

@valeros any change for this patch to be added? The Arduino developers have already added the patch to their Avrdude repo.

We don't have any infrastructure for compiling avrdude from scratch for all popular OS includi

[2021-01-27 15:56] MCUdude commented on #17
@valeros thanks for replying. I should be available tonight if that helps? I'm usually also available in the evening after work

This is the Avrdude repo Arduino uses. It's absolutely up to date. They also have binaries (that's also up to date. https://github.com/facchinm/avrdude

I'm not sure what the download URL for their Avrdude binaries are, but I'm using the current release here: [MegaCoreX

[2021-01-27 16:59] MCUdude opened #21 "MegaCoreX aren't up to date"
The latest version of MegaCoreX, v1.0.7 brings a lot of improvements and new features that is not currently present here. Would be great if PlatformIO could be updated to support this version.

[2021-01-27 18:54] #21 closed

[2021-01-27 18:56] valeros commented on #17
Thanks, the avrdude packages have been updated.

[2021-01-27 18:56] #17 closed

[2021-01-27 19:10] MCUdude commented on #17
Cool! Is there a link to a github like webside where I can look at the commit? And is the atmel avr version also updated?

[2021-01-27 19:15] valeros commented on #17
There is no commit as only the patch version has changed, so just run `pio platform update atmelmegaavr`.

At the moment only packages for `atmelmegaavr`. I hope `avrdude` for atmelavr will be updates as well a bit later.

[2021-01-27 20:12] MCUdude commented on #17
@valeros I just had a look in the avrdude.conf file that was bundled with the latest PlatformIO Avrdude release, and the new ISP programmers are missing. Would be awesome if you could add these to Avrdude.conf (from line 1257):

[code]

[2021-01-27 20:21] valeros commented on #17
Is there a reason that they aren't included by default in `v6.3.0-arduino18`?

[2021-01-27 20:33] MCUdude commented on #17
There are no good reason really. v6.3.0-arduino18 Support the SNAP and PICkit4 in both UPDI and ISP mode, so why not make Avrdude utilize this? I have tested both programmers with ISP and UPDI, and can confirm that they work flawlessly with avrdude-v6.3.0-arduino18.

I think the real reason is that the stock Arduino IDE (that only supports "classic" AVR boards) ships with an old Avrude version tha

[2021-01-27 21:30] valeros commented on #17
The packages have been updated with the configs for `pickit4_isp` and `snap_isp`.

[2021-01-27 21:33] MCUdude commented on #17
Excellent! 🎉

[2021-02-09 17:26] ArnieO opened #22 "Garbled serial output from ATtiny1616 when using Platformio IDE, OK on Arduino IDE"
Code in PlatformIO IDE:
[code]
platformio.ini:
[code]

- When I build and upload this from PlatformIO IDE the serial output on alternate USART pins (PA1, PA2) is garbled (output looks like wrong baud rate):
![image](https://user-images.githubusercontent.com/10295178/107396993-8fb25a80-6afe-11eb-9ee8-8172328a5241.png)
- If I use primary USART (delete `Serial.swap(1) `or replace it with `Serial.swap

[2021-02-13 22:11] maxgerhardt commented on #8
+1.

A fork of avarice at https://github.com/Florin-Popescu/avarice can reportedly open a gdbserver using the EDGB programmer / debugger via the UPDI interface. But not some other devices of a different class, [see issue](https://github.com/Florin-Popescu/avarice/issues/2). Would love to see avarice development continue and being integrated here.

[2021-02-14 10:20] paulskirk53 commented on #8
Hi, It would be great to see support for debugging on chips such as megaavr4809. My background is programming in C# to write drivers for astronomy equipment (using the ASCOM standard) and programming Arduino mega2560 boards to control robotics stuff. I am retired and if there's anything I can do to help (e.g. testing) I am happy to commit time on a regular basis. I hope this helps. I am new to Pla

[2021-02-25 13:06] mraardvark commented on #8
Basic debugging is possible with:

https://github.com/stemnic/pyAVRdbg

(I hope to take this further when I get time... :/ )

[2021-02-25 13:10] maxgerhardt commented on #8
For reference, see also issue https://github.com/stemnic/pyAVRdbg/issues/8 -- would be nice to test this with an Atmel-ICE device, and maybe someday the final frontier, getting it to work with the built-in programming bridge chips on some boards like the Arduino Nano Every, might be achieved.

[2021-02-27 15:32] btribley opened #23 "Feature Request: Please support DxCore by SpenceKonde"
- [ ] **Feature Request**.
 https://github.com/SpenceKonde/DxCore This is a "board" of bare chips perfect for people like me who make custom hardware. I made a board with the AVR128DA28 only to find out that the Microchip software support is all but broken for things like I2C. Arduino is a great hardware/software standard but their IDE is horribly basic. Their imports are all broken for any 3rd pa

[2021-03-14 18:10] btribley opened #24 "Debug Not Supported For ATmega4808"
- [ ] **Feature Request**.
      You know, all I want is a normal IDE that lets me step through my code. I was excited to find PlatformIO, got it all set up, brought over a sample project for my custom ATmega4808 board. Run->Debug and wham, ATmega4808 debug not supported. The suggestion was to open an issue. Here it is. It would be nice to be able to debug.

[2021-03-15 02:14] btribley commented on #23
SpenceKonde is up to version 1.3.2 . It's looking pretty good. Any progress on getting this into a build so it can be used?

[2021-03-15 10:11] valeros commented on #24
Duplicate #8.

[2021-03-15 10:11] #24 closed

[2021-03-16 21:32] maxgerhardt commented on #8
FYI: Using an Arduino Pro Micro (ATMega32U4) loaded with the https://github.com/MCUdude/microUPDI firmware and https://github.com/stemnic/pyAVRdbg as the GDB server we have made progress to get a working debugger in PlatformIO, [see topic](https://community.platformio.org/t/debug-an-avr-4809-with-microupdi/19926/39?u=maxgerhardt) :)

![grafik](https://user-images.githubusercontent.com/26485477/111

[2021-03-16 22:44] mraardvark commented on #8
Nice work :)
Out of interest - did you try it with your Atmel-ICE as well?

[2021-03-16 22:50] maxgerhardt commented on #8
I don't have such an expensive debug probe sadly 😅

[2021-03-16 22:55] mraardvark commented on #8
Ah, sorry - I thought you mentioned one earlier.  A fictitious one then :)
Reason I was asking is that the mEDBG (mega32U4) is a horrible UPDI bit-banger, and I would like to know how it performs.
Sawing the nEDBG off a Curiosity Nano would yield a nicer UPDI driver...

[2021-04-16 17:56] gcormier opened #25 "Support tinyAVR 2 series"
With release 2.3.0, https://github.com/SpenceKonde/megaTinyCore supports the new TinyAVR series.

How can we get this in PIO?

[2021-04-27 08:17] maxgerhardt opened #26 "Board macros have different name than expected"
See https://community.platformio.org/t/impossible-to-build-adafruit-gfx-with-platformio/21009/5?u=maxgerhardt.

Situation: Attempt to compile a Adafruit GFX Sketch with the `platformio.ini`
[code]

The Adafruit GFX Core tries to detect the ATMega4809 with [the code](https://github.com/adafruit/Adafruit_BusIO/blob/13bd6906a62b5f2e8cbe8529f55ad13880ffd730/Adafruit_SPIDevice.h#L6-L33)

[code]
However

[2021-04-27 08:48] maxgerhardt commented on #26
Maybe @MCUdude can check that with regards to the compatibility of the Adafruit GFX library with MegaCoreX? Original PR #2 with those macro names come from there.

[2021-04-28 19:42] MCUdude commented on #26
Hi @maxgerhardt!

You're absolutely right, it's supposed to be `ARDUINO_AVR_ATmega4809` rather than `AVR_ATMEGA4809`. I'll provide a PR that fixes this

[2021-04-28 20:09] valeros commented on #26
Resolved in https://github.com/platformio/platform-atmelmegaavr/pull/27

[2021-04-28 20:09] #26 closed

[2021-05-20 23:23] mechatroniks-git commented on #25
ATtiny1624 chips (2-Series) have been out for a while, would be nice to make this happen.

[2021-06-17 20:35] 5e3 commented on #25
I build myself a dev-board with an attiny1626 (and another one one with a 128db28) and I was naively surprised that none of these processors are yet supported by Platformio. You know, its so painful to work with the Arduino toolset (frankly it's only good enough to toy around. When you need to know how something is defined you have to search the whole computer whereas with Platformio you easily ge

[2021-06-29 18:50] 5e3 opened #28 "megaTinyCore has no CLOCKSOURCE"
Spence Konde's cores use a compiler switch -DCLOCK_SOURCE. (See i.e.:  \.platformio\packages\framework-arduino-megaavr-megatinycore\cores\megatinycore\wiring.c:552)
In platform-atmelmegaavr/builder/frameworks/arduino.py:77 there is a typo: it's called CLOCKSOURCE instead of CLOCK_SOURCE.

[2021-07-01 21:22] f1oat opened #30 "Update MegaCoreX to v1.0.8"
Is it possible to update MegaCoreX to v1.0.7?
I would like to use the new Optiboot Flash Library.
Thanks.

[2021-07-02 11:58] valeros commented on #28
Resolved in #29

[2021-07-02 11:58] #28 closed

[2021-07-02 11:59] valeros commented on #30
Updated, please run `pio platform update atmelmegaavr` in the IDE terminal to pull the latest package.

[2021-07-02 11:59] #30 closed

[2021-09-04 11:29] vishnumaiea opened #31 "avrdude: Can't find programmer id "curiosity_updi""
**PlatformIO Core Version:** 5.1.1
**Home Version:** 3.3.4
**IDE:** VS Code
Version: 1.60.0 (user setup)
Commit: e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff
Date: 2021-09-01T10:41:52.311Z
Electron: 13.1.8
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.19043

I was trying to build a sample project for **AVR-IoT WG** development board. PlatformIO supports the b

[2021-10-30 23:41] maxgerhardt opened #32 "Natively support pymcuprogram"
The `microchip-pic-avr-tools/pymcuprog` has emerged and per https://github.com/microchip-pic-avr-tools/pymcuprog/blob/main/pypi.md#serial-port-updi-pyupdi is capable of uploading to a MegaAVR device via UPDI via a serial adapter, in the same way [pyupdi](https://github.com/mraardvark/pyupdi#pyupdi-1) can.

One might think integrating PyUPDI should be done, but as of 3 days a [deprecation notice](h

[2021-11-12 14:29] maxgerhardt opened #33 "Users can't upload to Uno WiFi Rev2 because of argument escaping problem"
Initially reported in [the community forum](https://community.platformio.org/t/platformio-upload-error-for-arduino-uno-wifi-rev2/24451).

With the `platformio.ini`

[code]

Users with a space in their name experience a failure in uploading.

[code]

The problem looks to me like there's a double-qupting of the flashing argument for the bootloader

Per [this](https://stackoverflow.com/questions/3265

[2021-11-16 14:16] #33 closed

[2021-11-16 14:18] valeros commented on #33
Hi @maxgerhardt ! Thanks for pointing out. I believe SCons wraps upload flags containing whitespaces, so we can rely on this functionality.

[2021-11-16 14:49] maxgerhardt commented on #33
By using the `platformio.ini`

[code]

This has had the effect of changing the invocation from the form

to

I'm not sore of this is better or worse with the missing quotes in the path argument, but at least I don't get a

style error anymore, just that no device was found (since I don't have a Uno WiFi Rev2 connected).

Maybe the original user can test this.

[2021-11-16 16:09] maxgerhardt commented on #33
[Confirmed fixed](https://community.platformio.org/t/platformio-upload-error-for-arduino-uno-wifi-rev2/24451/10?u=maxgerhardt).

[2021-11-25 10:54] matou78 commented on #11
hello :)
Sorry to bother you guys, but is there any news ? tried to install https://github.com/brunob45/platform-atmelavrdx to use the avr64DB32 but a lot of missing files :x

`Verbose` mode can be enabled via `-v, --verbose` option
CONFIGURATION: https://docs.platformio.org/page/boards/atmelavrdx/AVR64DA32.html
PLATFORM: Atmel AVR Dx (1.5.0+sha.8ac103e) > AVR64DA32
HARDWARE: AVR64DA32 24MHz, 8KB

[2021-11-25 13:21] SpenceKonde commented on #11
That looks like the last Official Arduino toolchain version, The one I've been distributing with DxCore and megaTinyCore works up through DD64's which aren't even out.
[code]

[2021-11-25 16:21] matou78 commented on #11
looks like I'm doing something wrong then in platformio
on launch of my workspace i get

i think will finally go to arduino ide to play with the new avr Dx chips :(

thanks for the response SpenceKonde

[2021-11-26 19:25] maxgerhardt opened #34 "Fuse programming doesn't work"
Per https://community.platformio.org/t/set-fuses-on-atmega4809/24681.

When using the standard `platformio.ini`

[code]
with a Nano Every board, normal uploading works:

[code]
However, programming fuses [per documentation](https://docs.platformio.org/en/latest/platforms/atmelmegaavr.html#fuses-programming), it does not work

[code]

The firmware upload used a 1200bps reset and the avrdude invocat

[2022-01-05 22:37] MCUdude commented on #32
The next release of Avrdude will natively support SerialUPDI. It has already been pushed to the upstream repo.

https://github.com/avrdudes/avrdude

[2022-01-11 20:56] marco-117 commented on #25
Me too.
I also need support of the Attiny 1624 in PlatformIO.

Is there any tutorial that i can implement this chip by myself?

[2022-01-17 20:55] MCUdude commented on #31
@valeros can you add these missing programmers to avrdude.conf?

[2022-01-17 22:09] MCUdude commented on #25
I'll create a PR soon with support for the entire tinyAVR-2 lineup. Stay tuned!

[2022-01-17 22:10] MCUdude commented on #11
@valeros this PR can be closed now that #19 has been merged.

[2022-01-17 22:10] MCUdude commented on #23
This issue can be closed now that #19 has been merged

[2022-01-17 22:51] MCUdude commented on #22
Issue can probably be closed. It turned out to be an incorrect oscillator setting. The fuses.py script would have solved this

[2022-01-18 05:48] brunob45 commented on #31
As of `tool-avrdude-megaavr 2.60300.210128 (6.3.0)`, pkobn_updi is present in both windows and linux versions.
In windows, I'm able to upload a sketch to my Curiosity Nano AVR128DA48 board with the package "as-is", but in linux, avrdude seems to be missing the dependency "libhidapi", and must be recompiled.
When I compile avrdude from [source](https://github.com/avrdudes/avrdude) on ubuntu with th

[2022-01-18 07:47] #22 closed

[2022-01-18 10:11] #31 closed

[2022-01-18 10:19] valeros commented on #23
Resolved in https://github.com/platformio/platform-atmelmegaavr/pull/19

[2022-01-18 10:20] valeros commented on #11
Resolved in https://github.com/platformio/platform-atmelmegaavr/pull/19

[2022-01-18 10:20] #11 closed

[2022-01-18 12:21] #25 closed

[2022-01-20 09:48] #34 closed

[2022-01-25 18:57] MCUdude commented on #8
I have absolutely no experience with avarice or setting up an environment capable of debugging an AVR, and the last time I _had_ to use a hardware debugger to figure out what was going on, I loaded the elf file from PlatformIO into Atmel Studio, which to my surprise actually worked! However, it would be really nice to have AVR hardware debugging working together with PlatformIO.

It looks like the

[2022-02-07 21:50] marco-117 opened #38 "problem with uart on attiny1624"
Hi,

i wanted to use the new implemented attiny1624, but i have issues with the two UARTs.
I tried the code in PlatformIO and in the Arduino IDE. In the Arduino IDE the UARTs are sending and receiving. In PlatformIO at least on UART dont work, i didnt check wich UART dont work or if both dont work.

I hope somone can help.

[2022-02-10 10:52] br74649 opened #40 "running upstream versions"
Hi

I would love to get started trying out the new support for avr-2, i see there has been some activity in adding support thanks @MCUdude

so as per the readme, i add

[env:development]
platform = https://github.com/platformio/platform-atmelmegaavr.git
board = ...
...

to try and build a project for the 1624

fist thing i get hit with is package_version is too big as its got a +sha.(whatever) put

[2022-02-10 10:53] MCUdude commented on #40
Use

[code]

instead

[2022-02-10 16:56] br74649 commented on #40
Hi,

because i hate to find problems without a resolution in google... i thought i would put my resolution here

deleting everything with avr in it under .platformio/packages .platformio/platforms and deleting all of .cache made it suddenly work, when running the build it downloaded everything into a clean environment i suspect

doing as above in platform = https://github.com/platformio/platform-a

[2022-02-10 16:56] #40 closed

[2022-03-21 12:40] matou78 opened #41 "DXCore uart upload with optiboot"
Hello everyone

Found something that i think should be documented or fixed.

I started to play a little with the AVRxxDAxx chips using platformIO .
Using DXCore with arduinoIDE everything is working , but with plaformIO nothing worked (updi upload,bootloader burn,uart upload)

[maxgerhardt](https://community.platformio.org/u/maxgerhardt) on the platformIO forum helped me to find few problems,
This

[2022-03-21 13:12] matou78 opened #42 "DXcore bootloader burn and updi uploading"
Hello everyone,

I'm trying to get the program upload through updi and bootloader burn to work
Using DXCore with arduinoIDE works as intended .

I did a small program to tests things that make a led blink and send "test ok" through UART
Uploading this program through UPDI does nothing, the chip does nothing .
Compiles correctly and uploads successfully too , but nothing happens .

here is my platf

[2022-03-22 21:17] SpenceKonde commented on #41
Due to dubious decisions made by Microchip,. binaries m form optiboot and non-optiboot ae not compatible (thesectionstart business). It's recently been complicated by my realization that 99% of AVRs getting into a "bad state" tat requires power cycle or reset pin reset to recover from the cause is a "dirt reser"where execution ends up a 0x0000 without a reset having occurred, which is virtually gu

[2022-03-23 08:22] matou78 commented on #41
i think that it was doing a bootloop like you said, sometimes the serial wasn't working at all and sometimes was spewing just a "t"
( i've put a Serial.println("test ok"); to see if serial was working as the led wasn't )

It is possible to do a default platformio.ini i think but sure, would love to see a little menu when creating the project to generate platformio.ini file with parameters set like

[2022-04-14 18:36] JorgeTorres01 commented on #38
hi [marco-117](https://github.com/marco-117)

In the last few days, I tested the new Attiny series (attiny426). I'm checking if the PWM, I2C, SPI, ADC, DAC, UART... on PlatformIO works with "functions Arduino"

The PCB that I used does not use some pins, ex. PB2, PA3, ... so I didn't test the RxD (PB3), TxD (PB2) (Serial). Only the *RxD, *TxD with Serial1 and its work :
[code]

![image](https://us

[2022-05-11 14:46] matou78 commented on #32
just tested https://github.com/avrdudes/avrdude/releases/tag/v7.0 by replacing "avrdude.exe" and "avrdude.conf" inside of ".platformio\packages\tool-avrdude-megaavr" ( i'm using an AVR64DA32 ) and was able to use "upload_protocol = serialupdi"

[2022-05-12 08:02] matou78 commented on #42
hello again :)
Well , got working the updi upload all cases as it should :D

I made my arduino AVRxxDx pcbs and updated avrdude to 7.x so it was way easier to test things .

So when uploading with ArduinoIDE going from bootloader (serial) to no bootloader (updi) or other way, every time the thing worked.

Then as i love platformIO and don't want to go back to arduinoIDE, i tried to upload with upd

[2022-05-12 19:24] Optoneer opened #44 "Include errors with ATTINY3227"
Hi,

I am facing an issue with setting up a project using an attiny3227. I am using an attiny1626 in another project, what works perfectly.

What I have done:
 - I downloaded the board information from your repo and put it to the boards folder in .platformio
 - I used the platformio wizard in vscode to create a new project using the attiny3227 at a non-default location
 - I edit the platformio.ini

[2022-05-13 07:03] Optoneer commented on #44
Today I see after opening the project, that it is unable to resolve the configuration for avr-gcc.exe and it would use a MinGW-gcc.exe. This does not pop up when opening the attiny1626 project.

What I continued to try - without success:

 - I removed the .platformio folder in order to get a fresh installation.
 - I checked, that the latest DFP is in \.platformio\packages\toolchain-atmelavr\avr\in

[2022-05-21 09:48] Strat00s opened #45 "2-series ATTiny support release date"
Looks like the support for 2-series ATTiny mcus has been sitting on the development branch for a few months now https://github.com/platformio/platform-atmelmegaavr/pull/36.

When can we expect a release for it?

[2022-05-30 07:03] Optoneer commented on #44
Got it. Platformio does not include the necessary include files. If anyone faces this issue, too:

1. Download DFP (Device Family Pack) from [Atmel Homepage](http://packs.download.atmel.com) (Rename to *.zip and extract somewhere)
2. Ensure that **\<USER>\\.platformio\\packages\\toolchain-atmelavr\\avr\\include\\avr\\io.h** contains the #include for the correct header file.
[code]
3. header file

[2022-05-30 07:04] Optoneer commented on #44
Close

[2022-05-30 07:04] #44 closed

[2022-06-10 05:07] N0cynym commented on #8
so is this basically a updi protocol issue or much more which needs tbd?

[2022-08-19 19:00] MCUdude opened #46 "Upgrade to Avrdude 7.0"
[Avrdude](https://github.com/avrdudes/avrdude) 7.0 has been out for a while now, and Arduino has their own build with statically linked libraries that "just works".

There are lots of bug fixes and new features, but the most exciting one is probably support for SerialUPDI. It would be great if you could update Avrdude for "megaAVR's" as well as for "classic" AVRs.

Here are all the pre-compiled Ar

[2022-08-20 14:28] mikrocoder opened #47 "socket.py import error DLL load failed (DxCore)"
Hello,

I have a fresh PlatformIO installation with current DxCore 1.4.10 and would like to transfer a blink test via USB. USB > FTDI232RL > Bootloader > USART Controller.

pymcuprog I have installed after. The error is fixed. Python 3.10.6 is also fresh installed.

But now socket.py is not found. But the file is present in the path. What to do?

platformio.ini
[code]

Output:
[code]

[2022-08-20 14:34] mikrocoder commented on #47
The solution is here:
https://github.com/platformio/platform-atmelmegaavr/issues/41

[2022-08-20 14:34] #47 closed

[2022-08-20 14:47] mikrocoder commented on #41
Thanks matou78. Finally I can flash via USB and bootloader. I have been missing these settings.

[2022-08-20 14:57] matou78 commented on #41
happy that it helped :)

[2022-08-22 07:19] matou78 commented on #46
i updated it manually to gain access to serialupdi , didn't see any problems
Should be updated in my opinion

[2022-10-27 23:30] samisabik commented on #42
I have got a similar behavior, but for me it seems to be OS dependent. With the exact same code source and setup on PIO, I have successfully compiled and flash on both Linux and Windows. However on Linux (Arch) the UPDI process seems to leave my 3208AVR blank after a seemingly successful upload, on windows my program get loaded correctly and runs fine. Not sure if this is related, and I have not y

[2022-10-27 23:39] samisabik commented on #42
Linux verbose :
`avrdude: max packet size expected 912, but found 512 due to EP 0x01's wMaxPacketSize`

This is the only difference I could spot when comparing the verbose between the two machines.

[2022-11-07 14:30] JulesGren opened #49 "ATMega4808 and bootloader with UPDI"
If one uses the Arduino IDE to load a bootloader (or hex including a bootloader) into a 4808 (perhaps also other chips as well) by default it places the bootload at0x0 and the main program at 0x200.

If you now try to load a program via platformio/vscode using UPDI, it loads this into memory at 0x0 and not 0x200, unfortunately the chip still looks for the start of the code at 0x200 therefore when

[2022-11-11 05:47] brunob45 commented on #49
Have you selected the correct bootloader option in your platformio.ini file?

You should have the line `board_hardware.uart=...`

Have a look at this for the explanation https://github.com/MCUdude/MegaCoreX/blob/master/PlatformIO.md

[2022-11-11 11:35] JulesGren commented on #49
Yes, have run it as blank (no ref to bootloader), and as no_bootloader and as uart1 / uart1_def, which is the bootloader installed.

There are slight differences, in some cases the in-built LED is illuminated in others it is not.

[2022-11-19 15:46] brunob45 commented on #49
Could you try to include the flag `-DUSING_OPTIBOOT ` in the `build_flags`?

I made a pull request so it is included by default, but it is not yet merged.

[2022-11-21 11:42] JulesGren commented on #49
Doesn't appear to work.

The 4808 has a bootloader from Arduino installed, if I load with:
[env:ATmega4808]
platform = atmelmegaavr
board = ATmega4808
framework = arduino
;upload_protocol= arduino
;board_hardware.uart = uart1 / uart1_def
board_hardware.uart = no_bootloader
build_flags = -DUSING_OPTIBOOT

Then it builds and transfers ok, but doesn't flash (it's just std blink) this is the same if I

[2022-11-21 21:46] brunob45 commented on #49
In platformio, installing the bootloader and the application is a 2 step process :
- the command `pio run - t bootloader` will install the bootloader
- the command `pio run - t upload` will install the application

[2022-11-25 10:54] matou78 commented on #49
uploading with UPDI erases automatically the bootloader,
You need to reconfigure the chip flags by clicking the button "set flags" in PIO, this should help with your issue
I had similar issues with AVRxxDAxx chips
https://github.com/platformio/platform-atmelmegaavr/issues/42#issue-1175368640

[2022-11-29 16:15] JulesGren commented on #49
Nope, neither of these last two suggestions work.

Yes I can write the bootloader
Yes I can write the code

No I cannot overwrite an existing Arduino bootloader
No I cannot write code on an existing Arduino bootloader

All of the above works though if i don't use UPDI for writing code